
@font-face {
  font-family: 'FiraSans-Regular';
  src: local('FiraSans-Regular'), url('./FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Medium';
  src: local('FiraSans-Medium'), url('./FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-MediumItalic';
  src: local('FiraSans-MediumItalic'), url('./FiraSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Light';
  src: local('FiraSans-Light'), url('./FiraSans-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Italic';
  src: local('FiraSans-Italic'), url('./FiraSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('./MaterialIcons-Regular.woff') format('woff');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }